<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dime_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dark_mode.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet" />
    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fav_g3.png') }}" sizes="32x32" type="image/png">
    <title> {% block title %} {% endblock %} </title>
    {% block metadata %} {% endblock %}
    {% block styles %} {% endblock %}
</head>
<body class="bg-black">
    {% block content %} {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.parallaxify.min.js') }}"></script>
    {% block script %} {% endblock %}
</body>
</html>